Morning Brain.json
{
  "name": "Morning Brain",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -80
      ],
      "id": "88d58b9c-0c27-4f53-8c4c-a1a93307b44a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=13.08&longitude=80.27&current_weather=true&hourly=temperature_2m&timezone=Asia/Kolkata",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        -256
      ],
      "id": "943f127e-1116-4d8f-a166-bf64d3cf1ac9",
      "name": "Weather"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TechCrunch",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "8969254d-1944-4564-b48c-49c256fd5b7c",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        -112
      ],
      "id": "c69f150e-9d37-46ff-8abc-452635f8f70d",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "BearerYOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Write a warm morning briefing for Pushpanjali, a first-year AI student in Chennai building real projects. Weather today: 32 degrees Celsius, clear. Top 3 tech headlines: 1) AI agents are reshaping software development 2) Open source models catching up to GPT-4 3) India's tech startup ecosystem hits record funding. End with one punchy motivational line for a builder. Format with emojis, keep it under 150 words.\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -96
      ],
      "id": "608ed42c-11a0-4c5e-9366-438ebeec9d81",
      "name": "Compose Digest"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_HERE",
        "subject": " ☀️ Your Morning Brain Digest",
        "emailType": "text",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        -96
      ],
      "id": "b78b8115-739c-449d-a331-2fa9c3a7f48b",
      "name": "Send a message",
      "webhookId": "faa7aea8-3106-4158-ad89-e01c776acfcb",
      "credentials": {
        "gmailOAuth2": {
          "id": "IvgBga8KnkFDOmHL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        -96
      ],
      "id": "58762514-5a0e-4216-9531-ceb5086b9781",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compose Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Digest": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a714c58-e9a0-432a-8a19-2ca88a87bc37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d96e2b564cea662acddaed5ae8b2a8ce3f1a7d9ce8a2af3f012104016726dce9"
  },
  "id": "75F2LQGrZxOunhyg",
  "tags": []
}